# Django: чувствительные и временные файлы
.env
.env.*                         # другие .env-файлы, например .env.production
*.sqlite3                      # SQLite база данных
media/                         # загруженные пользователями файлы
staticfiles/                   # собранные статики (collectstatic)
__pycache__/
*.py[cod]
*.log
*.pot
*.pyc
*.pyo
*.db                           # если база называется по-другому
*.bak

# Виртуальные окружения
venv/
.venv/
ENV/
env/
env.bak/
venv.bak/
.Python
.python-version

# Тесты и кэш
.coverage
.cache/
.pytest_cache/
.tox/
nosetests.xml
coverage.xml
*.cover
htmlcov/
.hypothesis/
.mypy_cache/
celerybeat-schedule.*
*.spec

# IDE: PyCharm/VSCode/Sublime
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Build/Dist
build/
dist/
*.egg
*.egg-info/
.eggs/
develop-eggs/
downloads/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.whl
.installed.cfg
MANIFEST

# Документация
/site

# Jupyter
.ipynb_checkpoints/

# Парсенные файлы SageMath
*.sage.py

# Git history (если используешь history плагин в VSCode)
.history/

# Дополнительно: node_modules и другие зависимости (если у тебя фронт в проекте)
node_modules/
*.lock

# Docker и CI/CD (если используешь)
docker-compose.override.yml
*.pid
*.sock
*.crt
*.key
